.cabecalho
{ 
background:color #383d58;
color:white
}
h1 {
    text-align: center;
} 
h2 {
    background-color: blueviolet;
}
.imagem {
    width: 20px
}
.lista{ 
    display: inline-block;
    margin: 0 16px;
}
